---
const base = import.meta.env.BASE_URL; 
---

<nav class="flex flex-col gap-2 bg-slate-100 h-screen p-4 min-w-[200px]">
    <a href={`${base}`}>Home</a>
    <a href={`${base}svgbasico`}>SVG Básico</a>
    <a href={`${base}estilos-en-svg`}>Estilos en SVG</a>
    <a href={`${base}linea-polilinea-poligono`}>Líneas, Polígonos y Polilíneas</a>
    <a href={`${base}etiqueta-trazo-path`}>Etiqueta de trazado (path)</a>
    <a href={`${base}atributo-viewbox`}>Atributo viewbox</a>
    <a href={`${base}etiquetas-texto`}>Etiquetas de texto</a>
</nav>